@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barriecito&family=Rubik:wght@300&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swa");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	margin: 0px;
}

h1 {
	font-family: 'Barriecito', cursive;
	font-weight: bold;
}

h2, h3 {
	font-family: 'Fredoka One', cursive;
	font-weight: lighter;
}

a {
	text-decoration: none;
}

